In [1]:
// Testing the interpreter
val x = 2
val y = 3
x+y

Intitializing Scala interpreter ...

Spark Web UI available at http://rinmac452.domain.name:4042
SparkContext available as 'sc' (version = 3.0.0, master = local[*], app id = local-1596283742866)
SparkSession available as 'spark'

x: Int = 2
y: Int = 3
res0: Int = 5

In [34]:
// Reading a dataframe

import org.apache.spark.sql.SparkSession

val spark = SparkSession.builder().getOrCreate()

val df = spark.read.option("header","true").option("inferSchema","true").csv("/Users/rahul.bhatia/Desktop/scala-training/CitiGroup2006_2008.csv")

import org.apache.spark.sql.SparkSession
spark: org.apache.spark.sql.SparkSession = org.apache.spark.sql.SparkSession@6a3d82ac
df: org.apache.spark.sql.DataFrame = [Date: string, Open: double ... 4 more fields]

In [53]:
// Look at the schema
df.printSchema()

root
 |-- Date: string (nullable = true)
 |-- Open: double (nullable = true)
 |-- High: double (nullable = true)
 |-- Low: double (nullable = true)
 |-- Close: double (nullable = true)
 |-- Volume: integer (nullable = true)

In [33]:
// Shape of the dataframe
println(df.count(),df.columns.length)

(755,6)

In [15]:
// Firsts  few rows of a dataframe
df.show(5)

+----------+-----+-----+-----+-----+-------+
|      Date| Open| High|  Low|Close| Volume|
+----------+-----+-----+-----+-----+-------+
|2006-01-03|490.0|493.8|481.1|492.9|1537660|
|2006-01-04|488.6|491.0|483.5|483.8|1871020|
+----------+-----+-----+-----+-----+-------+
only showing top 2 rows

In [35]:
// Describe method
df.describe().show()

+-------+----------+------------------+-----------------+------------------+------------------+-----------------+
|summary|      Date|              Open|             High|               Low|             Close|           Volume|
+-------+----------+------------------+-----------------+------------------+------------------+-----------------+
|  count|       755|               755|              755|               755|               755|              755|
|   mean|      null| 386.0923178807949|390.6590596026489|380.80170860927143| 385.3421456953643|6308596.382781457|
| stddev|      null|149.32301134820133|148.5151130063523|150.53136890891344|149.83310074439177| 8099892.56297633|
|    min|2006-01-03|              54.4|             55.3|              30.5|              37.7|           632860|
|    max|2008-12-31|             566.0|            570.0|             555.5|             564.1|        102869289|
+-------+----------+------------------+-----------------+------------------+------------------+-----------------+

In [37]:
// Selecting multiple columsn from a dataframe
df.select($"High",$"Low",$"Close").show()

+-----+-----+-----+
| High|  Low|Close|
+-----+-----+-----+
|493.8|481.1|492.9|
|491.0|483.5|483.8|
|487.8|484.0|486.2|
|489.0|482.0|486.2|
|487.4|483.0|483.9|
|485.5|480.8|485.4|
|495.8|485.8|489.8|
|491.0|488.8|490.3|
|491.9|487.3|489.2|
|487.0|482.7|484.3|
|486.7|481.1|483.8|
|485.8|477.0|479.4|
|474.0|456.3|456.9|
|463.8|457.0|460.0|
|463.6|459.9|460.1|
|463.7|460.1|462.3|
|475.5|464.5|470.1|
|473.7|466.0|468.7|
|469.9|466.6|468.2|
|470.5|465.5|465.8|
+-----+-----+-----+
only showing top 20 rows

In [47]:
// Creating a new column
val df2 = df.withColumn("High+Low",df("High") + df("Low"))

df2: org.apache.spark.sql.DataFrame = [Date: string, Open: double ... 5 more fields]

In [48]:
// See the schema of a dataframe
df2.printSchema()

root
 |-- Date: string (nullable = true)
 |-- Open: double (nullable = true)
 |-- High: double (nullable = true)
 |-- Low: double (nullable = true)
 |-- Close: double (nullable = true)
 |-- Volume: integer (nullable = true)
 |-- High+Low: double (nullable = true)

In [52]:
// Renaming a column
df2.select(df2("High+Low").as("HPL")).show()

+-----------------+
|              HPL|
+-----------------+
|974.9000000000001|
|            974.5|
|            971.8|
|            971.0|
|            970.4|
|            966.3|
|            981.6|
|            979.8|
|            979.2|
|            969.7|
|            967.8|
|            962.8|
|            930.3|
|            920.8|
|            923.5|
|            923.8|
|            940.0|
|            939.7|
|            936.5|
|            936.0|
+-----------------+
only showing top 20 rows

## Some basic filter operations using Scala

In [54]:
// Import below to be able to use the Scala $ syntax
import spark.implicits._

import spark.implicits._

In [67]:
// Scala Notation
df.filter($"Close">480).show(5)

// SQL Notation
df.filter("Close>480").show(5)

+----------+-----+-----+-----+-----+-------+
|      Date| Open| High|  Low|Close| Volume|
+----------+-----+-----+-----+-----+-------+
|2006-01-03|490.0|493.8|481.1|492.9|1537660|
|2006-01-04|488.6|491.0|483.5|483.8|1871020|
|2006-01-05|484.4|487.8|484.0|486.2|1143160|
|2006-01-06|488.8|489.0|482.0|486.2|1370250|
|2006-01-09|486.0|487.4|483.0|483.9|1680740|
+----------+-----+-----+-----+-----+-------+
only showing top 5 rows

+----------+-----+-----+-----+-----+-------+
|      Date| Open| High|  Low|Close| Volume|
+----------+-----+-----+-----+-----+-------+
|2006-01-03|490.0|493.8|481.1|492.9|1537660|
|2006-01-04|488.6|491.0|483.5|483.8|1871020|
|2006-01-05|484.4|487.8|484.0|486.2|1143160|
|2006-01-06|488.8|489.0|482.0|486.2|1370250|
|2006-01-09|486.0|487.4|483.0|483.9|1680740|
+----------+-----+-----+-----+-----+-------+
only showing top 5 rows

In [71]:
df.filter($"Close">480).count()

res61: Long = 325

In [75]:
// Multiple Conditions Filter using Scala Notation
df.filter($"Close"<480 && $"High"<480).show(5)

// Multiple Conditions Filter using SQL Notation
df.filter("Close<480 AND High < 480").show(5)

+----------+-----+-----+-----+-----+-------+
|      Date| Open| High|  Low|Close| Volume|
+----------+-----+-----+-----+-----+-------+
|2006-01-20|472.1|474.0|456.3|456.9|4781930|
|2006-01-23|460.0|463.8|457.0|460.0|2025500|
|2006-01-24|462.9|463.6|459.9|460.1|2083740|
|2006-01-25|461.4|463.7|460.1|462.3|1591940|
|2006-01-26|465.5|475.5|464.5|470.1|1988600|
+----------+-----+-----+-----+-----+-------+
only showing top 5 rows

+----------+-----+-----+-----+-----+-------+
|      Date| Open| High|  Low|Close| Volume|
+----------+-----+-----+-----+-----+-------+
|2006-01-20|472.1|474.0|456.3|456.9|4781930|
|2006-01-23|460.0|463.8|457.0|460.0|2025500|
|2006-01-24|462.9|463.6|459.9|460.1|2083740|
|2006-01-25|461.4|463.7|460.1|462.3|1591940|
|2006-01-26|465.5|475.5|464.5|470.1|1988600|
+----------+-----+-----+-----+-----+-------+
only showing top 5 rows

In [77]:
// Instead of showing the result everytime, we can store it and collect it in a new object.

val CH_Low = df.filter("Close<480 AND High<480").collect()

CH_Low: Array[org.apache.spark.sql.Row] = Array([2006-01-20,472.1,474.0,456.3,456.9,4781930], [2006-01-23,460.0,463.8,457.0,460.0,2025500], [2006-01-24,462.9,463.6,459.9,460.1,2083740], [2006-01-25,461.4,463.7,460.1,462.3,1591940], [2006-01-26,465.5,475.5,464.5,470.1,1988600], [2006-01-27,470.1,473.7,466.0,468.7,1412760], [2006-01-30,468.7,469.9,466.6,468.2,1057630], [2006-01-31,468.3,470.5,465.5,465.8,1887280], [2006-02-01,465.9,467.2,461.1,463.3,1844970], [2006-02-02,459.0,461.0,451.0,451.8,2325470], [2006-02-03,450.7,456.1,448.1,450.6,1666510], [2006-02-06,452.6,456.1,450.9,451.7,1147430], [2006-02-07,452.0,453.8,450.0,450.5,1207780], [2006-02-08,453.3,455.3,450.7,453.6,1051370], [2006-02-09,455.0,461.0,454.3,457.9,1357740], [2006-02-10,457.0,460.7,452.5,459.6,1272030], [2006-02-13,4...

In [79]:
// Retroeve an element form the above array
CH_Low(43)

res67: org.apache.spark.sql.Row = [2006-03-23,475.8,479.8,474.7,477.7,1378500]

In [90]:
// Equals to doesn't work with "==" operator, use "==="
df.filter($"High"===484.4).show()

// SQL "=" Notation just works fine
df.filter("High = 484.40").show()

+----------+-----+-----+-----+-----+-------+
|      Date| Open| High|  Low|Close| Volume|
+----------+-----+-----+-----+-----+-------+
|2006-04-27|472.0|484.4|471.5|481.5|2464800|
+----------+-----+-----+-----+-----+-------+

+----------+-----+-----+-----+-----+-------+
|      Date| Open| High|  Low|Close| Volume|
+----------+-----+-----+-----+-----+-------+
|2006-04-27|472.0|484.4|471.5|481.5|2464800|
+----------+-----+-----+-----+-----+-------+

## Some important functions

List of all available functions - https://spark.apache.org/docs/latest/api/java/org/apache/spark/sql/functions.html

### Example - Pearson Correlation

In [93]:
df.select(corr("High","Low")).show()

+------------------+
|   corr(High, Low)|
+------------------+
|0.9992999172726325|
+------------------+