In [57]:
import org.apache.spark.sql.SparkSession

val spark = SparkSession.builder().getOrCreate()
val df = spark.read.option("header","true").option("inferSchema","true").csv("/Users/rahul.bhatia/Desktop/scala-training/CitiGroup2006_2008.csv")

import org.apache.spark.sql.SparkSession
spark: org.apache.spark.sql.SparkSession = org.apache.spark.sql.SparkSession@64db79c
df: org.apache.spark.sql.DataFrame = [Date: string, Open: double ... 4 more fields]

In [58]:
df.show()

+----------+-----+-----+-----+-----+-------+
|      Date| Open| High|  Low|Close| Volume|
+----------+-----+-----+-----+-----+-------+
|2006-01-03|490.0|493.8|481.1|492.9|1537660|
|2006-01-04|488.6|491.0|483.5|483.8|1871020|
|2006-01-05|484.4|487.8|484.0|486.2|1143160|
|2006-01-06|488.8|489.0|482.0|486.2|1370250|
|2006-01-09|486.0|487.4|483.0|483.9|1680740|
|2006-01-10|483.0|485.5|480.8|485.4|1365960|
|2006-01-11|495.8|495.8|485.8|489.8|1684440|
|2006-01-12|491.0|491.0|488.8|490.3|1230060|
|2006-01-13|491.0|491.9|487.3|489.2| 940930|
|2006-01-17|485.1|487.0|482.7|484.3|1237830|
|2006-01-18|484.3|486.7|481.1|483.8|1218910|
|2006-01-19|485.6|485.8|477.0|479.4|1696500|
|2006-01-20|472.1|474.0|456.3|456.9|4781930|
|2006-01-23|460.0|463.8|457.0|460.0|2025500|
|2006-01-24|462.9|463.6|459.9|460.1|2083740|
|2006-01-25|461.4|463.7|460.1|462.3|1591940|
|2006-01-26|465.5|475.5|464.5|470.1|1988600|
|2006-01-27|470.1|473.7|466.0|468.7|1412760|
|2006-01-30|468.7|469.9|466.6|468.2|1057630|
|2006-01-31|468.3|470.5|465.5|465.8|1887280|
+----------+-----+-----+-----+-----+-------+
only showing top 20 rows

In [59]:
df.printSchema()

root
 |-- Date: string (nullable = true)
 |-- Open: double (nullable = true)
 |-- High: double (nullable = true)
 |-- Low: double (nullable = true)
 |-- Close: double (nullable = true)
 |-- Volume: integer (nullable = true)

In [61]:
// Lot's of options here
// https://medium.com/expedia-group-tech/deep-dive-into-apache-spark-datetime-functions-b66de737950a

df.select(month(df("Date"))).show()

df.select(year(df("Date"))).show()

+-----------+
|month(Date)|
+-----------+
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
+-----------+
only showing top 20 rows

+----------+
|year(Date)|
+----------+
|      2006|
|      2006|
|      2006|
|      2006|
|      2006|
|      2006|
|      2006|
|      2006|
|      2006|
|      2006|
|      2006|
|      2006|
|      2006|
|      2006|
|      2006|
|      2006|
|      2006|
|      2006|
|      2006|
|      2006|
+----------+
only showing top 20 rows

In [62]:
val df2 = df.withColumn("Year",year(df("Date")))

// Mean per Year, notice large 2008 drop!
val dfavgs = df2.groupBy("Year").mean()
dfavgs.select($"Year",$"avg(Close)").show()

+----+------------------+
|Year|        avg(Close)|
+----+------------------+
|2007| 477.8203984063745|
|2006| 489.2697211155379|
|2008|190.48893280632404|
+----+------------------+

df2: org.apache.spark.sql.DataFrame = [Date: string, Open: double ... 5 more fields]
dfavgs: org.apache.spark.sql.DataFrame = [Year: int, avg(Open): double ... 5 more fields]