In [27]:
import org.apache.spark.sql.SparkSession

val spark = SparkSession.builder().getOrCreate()
val df = spark.read.option("header","true").option("inferSchema","true").csv("/Users/rahul.bhatia/Desktop/scala-training/ContainsNull.csv")

import org.apache.spark.sql.SparkSession
spark: org.apache.spark.sql.SparkSession = org.apache.spark.sql.SparkSession@64db79c
df: org.apache.spark.sql.DataFrame = [Id: string, Name: string ... 1 more field]

In [28]:
df.show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John| null|
|emp2| null| null|
|emp3| null|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

In [29]:
df.printSchema()

root
 |-- Id: string (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sales: double (nullable = true)

In [36]:
df.na.drop(how="any").show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp4|Cindy|456.0|
+----+-----+-----+

In [37]:
// Drop any rows that have less than a minimum Number of NON-null values ( < Int)
df.na.drop(2).show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John| null|
|emp3| null|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

In [39]:
// Fill in the Na values with Int
df.na.fill(100).show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John|100.0|
|emp2| null|100.0|
|emp3| null|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

In [40]:
// Fill in String will only go to all string columns
df.na.fill("Emp Name Missing").show()

+----+----------------+-----+
|  Id|            Name|Sales|
+----+----------------+-----+
|emp1|            John| null|
|emp2|Emp Name Missing| null|
|emp3|Emp Name Missing|345.0|
|emp4|           Cindy|456.0|
+----+----------------+-----+

In [41]:
// Be more specific, pass an array of string column names
df.na.fill("Specific",Array("Name")).show()

+----+--------+-----+
|  Id|    Name|Sales|
+----+--------+-----+
|emp1|    John| null|
|emp2|Specific| null|
|emp3|Specific|345.0|
|emp4|   Cindy|456.0|
+----+--------+-----+

In [43]:
// Exercise: Fill in Sales with average sales.
// How to get averages? For now, a simple way is to use describe!
df.describe().show()

+-------+----+-----+-----------------+
|summary|  Id| Name|            Sales|
+-------+----+-----+-----------------+
|  count|   4|    2|                2|
|   mean|null| null|            400.5|
| stddev|null| null|78.48885271170677|
|    min|emp1|Cindy|            345.0|
|    max|emp4| John|            456.0|
+-------+----+-----+-----------------+

In [44]:
df.na.fill(400.5).show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John|400.5|
|emp2| null|400.5|
|emp3| null|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

In [56]:
df.groupBy("Name")

+-----+----------+
|Sales|avg(Sales)|
+-----+----------+
|456.0|     456.0|
| null|      null|
|345.0|     345.0|
+-----+----------+